.size {
  height: 320px;
  padding-bottom: 1px;
}

.carousel-width {
  width: 100%;
}

.margin-zero {
  margin-left: 0px;
  margin-right: 0px;
}

a:hover {
  text-decoration: none;
}

.carousel-inner {
  margin-bottom: 16px;
  margin-top:  16px;
}
.carousel-content {
  position: absolute;
  bottom: 30%;
  left: 20%;

  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  h1 {
    font-size: 60px;
  }
}

.card-text {
  padding: 15px 20px;
  #price {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .margin-zero img {
    object-fit: cover;
  }

  // #location {
  //   position: absolute;
  //   right: 12px;
  //   top: 2px
  // }
}
