<div class="container">
  <h1 class="m-4">Treehouses</h1>
<div style="display: flex; justify-content: flex-start; flex-wrap: wrap; ">
<% @treehouses.each do |treehouse| %>
<div class="card m-3" style="width: 520px; height: 360px; background-color: white; border-radius: 4px; box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);">
  <img src="<%= treehouse.img %>" alt="" style="width: 100%; height: 240px">
  <div class="pl-2">
    <h4 style="font-weight: bold"><%= treehouse.name %></h4>
    <p><%= treehouse.description %></p>
    <p>£<%= treehouse.price %></p>
  </div>
</div>
<% end %>
</div>
</div>

