<h1>hello there everyone </h1>

<div class="container p-3">
  <p><%= @treehouse.name %></p>
  <p><%= @treehouse.price %></p>
  <p><%= @treehouse.location %></p>
  <p><%= @treehouse.description %></p>
</div>

