
   <div class="grid-container">
    <div class="main">
      <h1><span class="pink-highlight">Discover</span> the perfect <span class="green-highlight">treehouse</span></h1>
      <h2>A curated list of the coziest spots around the world</h2>
      <a href="/treehouses" class="btn btn-outline-dark">Let's explore <%= icon('fas', 'arrow-right') %></a>
    </div>
    <div class="top-img">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="2000">
            <%= image_tag "main-treehouse.jpg" %>
          </div>
          <div class="carousel-item" data-interval="2000">
            <%= image_tag "main-treehouse2.jpg" %>
          </div>
          <div class="carousel-item" data-interval="2000">
            <%= image_tag "main-treehouse3.jpg" %>
          </div>
        </div>
      </div>
    </div>
   </div>
