<div class="container mt-5">

<h1> Do you want to accept this offer </h1>

<%= link_to "Yes", treehouses_path, class: "btn btn-primary" %>

<%= link_to "No", treehouses_path, class: "btn btn-danger" %>

</div>
