.card {
  background-color: #fff;
  margin: 15px 20px;
  box-shadow: 0 0.3rem 1rem #e8e8e8bf;
}

.card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  h5 {
    padding: 10px 15px;
  }
  p {
    padding: 0 15px;
  }
  p.price {
    flex-grow: 1;
  }
  a {
    text-decoration: none;
  }
}

.card-img-top {
  max-height: 195px;
  object-fit: cover;
}

.card-title {
  background-color: $coral;
  a {
    color: $black;
  }
}

.card-footer {
  background-color: $light-green;
  display: flex;
  justify-content: space-between;
  a {
    color: $black;
  }
}
.footer-pink {
  background-color: $pink;
}