.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 2px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 0 20px;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
}

.btn-custom {
  background-color: $coral;
  border: solid 1px white;
  color: white;
}
.btn-custom:hover {
  background-color: #d08a88;
  border: solid 1px white;
  color: white;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
}
