.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 0 20px;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
}