.search-design {
  border-radius: 20px;
  height: 40px;
  background-color: white;
  width: 200px;
}

.search-design-home {
  border-radius: 20px;
  height: 40px;
  background-color: white;
  width: 148px;
}

.search-form {
  display: flex;
  align-items: center;
}


.inline {
  display: inline;
}
