.search-design {
  border-radius: 20px;
  height: 40px;
  background-color: white;
  width: 40vw;
}

.search-design-home {
  border-radius: 20px;
  height: 40px;
  background-color: white;
  width: 20vw;
}

.search-form {
  display: flex;
}


.inline {
  display: inline;
}
